{
  "driver_config": {
    "ip_address": "192.168.37.130",
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJjN2Y5NjM0Njc1OWU0OGYzYTk5ZWQ1ZjFmOGYzMDM1MCIsImlhdCI6MTc3MTgzNzQwMSwiZXhwIjoyMDg3MTk3NDAxfQ.9To9QhgheFmHIc8buujHhG-GyRnXXwtaSqdT6PGx-yI",
    "port": "8123"
  },
  "driver_type": "home_assistant",
  "registry_config": "config://light.bed_light.json",
  "interval": 30
}
